@model WebBanHang.Models.HomeModels
@{
    ViewBag.Title = "Listing_Grid";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Website title - bootstrap html template</title>

    <link href="~/Content/~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- jQuery -->
    <script src="~/Scripts/js/jquery-2.0.0.min.js" type="text/javascript"></script>

    <!-- Bootstrap4 files-->
    <script src="~/Scripts/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Font awesome 5 -->
    <link href="fonts/fontawesome/~/Content/css/all.min.css" type="text/css" rel="stylesheet">

    <!-- custom style -->
    <link href="~/Content/css/ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- custom javascript -->
    <script src="~/Scripts/js/script.js" type="text/javascript"></script>

</head>
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        @foreach (var item in Model.ListCategories)
        {
            <header class="section-heading heading-line">
                <h4 class="title-section text-uppercase">@item.Name</h4>
            </header>
          
        }
        <div class="row">
            @foreach (var item1 in Model.ListProducts)
            {


                <div class="col-md-3">
                    <figure class="card card-product-grid">
                        <div class="img-wrap">
                            @if (item1.Price > item1.PriceDiscount)
                            {
                                <span class="badge badge-danger"> Sale </span>
                            }
                            <img src="~/Content/images/items/@item1.Avatar">
                        </div> <!-- img-wrap.// -->
                        <figcaption class="info-wrap">

                            <div class="price-wrap">
                                @if (item1.Price > item1.PriceDiscount)
                                {
                                    <a class="title mb-2"> @Html.ActionLink(item1.Name, "ProductDetail", "ProductDetail", new { Id = item1.Id }, null)</a>
                                    <div class="price-wrap">
                                        <var class="price h4">@item1.PriceDiscount</var>
                                        <del class="text-muted">@item1.Price</del>
                                    </div>
                                }
                                else
                                {
                                    <a class="title mb-2"> @Html.ActionLink(item1.Name, "ProductDetail", "ProductDetail", new { Id = item1.Id }, null)</a>
                                    <div class="price-wrap">
                                        <var class="price h4">@item1.Price</var>

                                    </div>

                                }


                            </div> <!-- price-wrap.// -->


                            <hr>


                            <a > <i class="fa fa-envelope"></i> @Html.ActionLink("Thêm vào giỏ hàng", "Cart", "Cart", null, new { @class = "btn btn-outline-primary" }) </a>

                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
            }
        </div> <!-- row end.// -->


        <nav class="mb-4" aria-label="Page navigation sample">
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>


        <div class="box text-center">
            <p>Did you find what you were looking for？</p>
            <a href="" class="btn btn-light">Yes</a>
            <a href="" class="btn btn-light">No</a>
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
    <div class="container">

        <p class="pb-2 text-center">Delivering the latest product trends and industry news straight to your inbox</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="form-row">
                    <div class="col-8">
                        <input class="form-control" placeholder="Your Email" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Subscribe </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text">We’ll never share your email address with a third-party. </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
